/* Common Styles (Applied to Both Media Queries) */
* {
    font-family: Arial, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#13834b, #05381d);
    /* background-image: linear-gradient( #116e3b, #05381d); */
    /* background-color: #0d542d; */
}

#header > img {
    background-color: transparent;
    border-radius: 1dvh;
}

#header-Titel {
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

#main-article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.geschichte-menu-button {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1vw;
    text-decoration: none;
    background-image: radial-gradient(ellipse at center, #1c9654, #0d542d 75%);
    /* background-color: #0d542d; */
    color: white;
    border-radius: 20px;
    z-index: 500;
    transition-duration: 0.2s;
}

.geschichte-menu-symbol {
    background-color: transparent;
}

.geschichte-menu-links {
    text-decoration: none;
    display: none;
    background-color: transparent;
    color: white;

}

.geschichte-menu-links:hover {
    background: rgba(211, 211, 211, 0.25);
    border-radius: 10px;
}

#geschichte-abschnitt {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#geschichte-titel {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#geschichte-text {
    background-color: transparent;
    padding-bottom: 9dvh;
}

#geschichte-link {
    background: linear-gradient(to right, #0d542d, #0d542d);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: background 1s ease, color 0.8s ease;
}

#geschichte-link:hover {
    background: linear-gradient(to right, #5e8f75, #1f7250);
}

#impressum_section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.impressum_text {
    padding: 6dvh 10vw;
    font-size: 3dvh;
    text-align: left;
    background-color: lightgray;
    width: 80vw;
    min-height: 10dvh;
    margin: 5dvh auto;
    border-radius: 30px;
}

#impressum_text2 {

}

#impressum_links {
    display: flex;
    justify-content: space-evenly;
    width: 30%
}

.impressum_link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2dvh 4vw;
    background: linear-gradient(to left, #1c9654, #0d542d);
    border-radius: 20px;
    margin-bottom: 5dvh;
}

#impressum_text2, #impressum_text3 {
    background-color: transparent !important;
    padding: 4dvh 5vw;
    margin: 0;
}

#template_article2 {
    min-height: 10dvh !important;
}

.template_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_article {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5vh auto;
    background-color: lightgray;
    min-height: 50vh;
    border-radius: 20px;
}

.template_titel {
    align-self: flex-start;
    background-color: transparent;
    font-size: 5.5dvh;
    font-weight: bold;
    padding: 5dvh 5vw;
    padding-bottom: 2dvh;
}

.template_text {
    align-self: flex-start;
    background-color: transparent;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 3dvh;
    margin-bottom: 3dvh;
}

.template_article div:last-child {
    padding-bottom: 3dvh;
}

.template_img {
    align-self: center;
    padding: 0 0 5dvh 0;
    background-color: lightgray;
    max-width: 60vw;
    max-height: 60dvh;
}

.template_back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16dvh;
    background-color: transparent;
}

.template_link_back {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2dvh 4vw;
    background: linear-gradient(to left, #1c9654, #0d542d);
    border-radius: 20px;
    margin-bottom: 5dvh;
}

.template_link_back:hover {
    background: linear-gradient(to left, #1bc96d, #128346);
}

#footer {
    width: 100%;
    background-image: linear-gradient(#13834b, #05381d);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#footer_übersichtA {
    background-color: transparent;
    font-weight: bold;
    display: flex;
    color: white;
}

.footer_link,
#footer_impressum {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding-left: 3dvh;
}

/* Media Query for Screens 768px and Wider */
@media screen and (min-width: 768px) {
    #header {
        height: 25dvh;
    }

    #header > img {
        height: 10dvh;
        margin-right: 5%;
    }

    #header-Titel {
        font-size: 8dvh;
    }

    #main-article {
        height: 60dvh;
    }

    #uhr {
        width: 35dvh;
    }

    .geschichte-menu-button {
        top: 26dvh;
        padding: 1dvh 2vw;
        font-size: 3dvh;
    }

    .geschichte-menu-links {
        font-size: 2.5dvh;
        padding: 1dvh 1vw;
    }

    #geschichte-abschnitt {
        width: 25%;
        height: 35dvh;
    }

    #geschichte-titel {
        font-size: 5dvh;
        margin: 3dvh;
    }

    #geschichte-text {
        font-size: 2.25dvh;
    }

    #geschichte-link {
        font-size: 2dvh;
        padding: 0.8dvh 4dvh;
        margin: 2dvh;
    }

    #footer {
        height: 12dvh;
        padding-top: 5dvh;
        font-size: 2.5dvh;
    }

    #footer_übersichtA {
        padding-bottom: 0.5dvh;
    }
}

/* Media Query for Screens Narrower than 768px */
@media screen and (max-width: 767px) {
    body {
        overflow-y: auto;
    }

    #header {
        flex-direction: column;
        height: 25dvh;
    }

    #header > img {
        height: 6vw;
        margin-bottom: 1dvh;
    }

    #header-Titel {
        font-size: clamp(8px, 50vw, 4dvh);
        width: 70vw;
    }

    #main-article {
        height: 60dvh;
        position: relative;
        overflow: hidden;
    }

    #uhr {
        position: absolute;
        height: 50dvh;
        margin-top: -25dvh;
        margin-left: -50vw;
        z-index: 0;
        overflow: hidden;
    }

    #impressum_links {
        width: 100%;
    }

    .template_titel {
        font-size: 3.1dvh;
        padding-bottom: 2dvh;
        padding-top: 2dvh;
    }

    .template_text {
        font-size: 2.2dvh;
    }

    .geschichte-menu-button {
        top: 26dvh;
        padding: 1dvh 3vw;
        font-size: 2.5dvh;
    }

    .geschichte-menu-links {
        font-size: 3dvh;
        padding: 1dvh 3vw;
    }

    #geschichte-abschnitt {
        opacity: 95%;
        margin-right: -10vw;
        width: 80vw;
        height: 35dvh;
        z-index: 5;
    }

    #geschichte-titel {
        font-size: 5dvh;
        margin: 3dvh;
    }

    #geschichte-text {
        padding-bottom: 9dvh;
        font-size: 2.25dvh;
    }

    #geschichte-link {
        font-size: 2dvh;
        padding: 0.8dvh 4dvh;
        margin: 2dvh;
    }

    .impressum_text {
        font-size: 2dvh;
        margin: 2vw;
    }

    .copyright > p, .copyright a {
        font-size: 1.6dvh;
    }

    #footer {
        height: 15dvh;
        padding-top: 5dvh;
        font-size: 2.5dvh;
    }

    #footer_übersichtA {
        padding-bottom: 0.5dvh;
    }
}

@media screen and (max-width: 315px) {
    #header-Titel {
        font-size: 4dvh;
    }

    #header > img {
        border-radius: 5px;
    }
}