/* Common Styles (Applied to Both Media Queries) */
* {
    font-family: Arial, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow-y: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#13834b, #05381d);
    /* background-image: linear-gradient( #116e3b, #05381d); */
    /* background-color: #0d542d; */
}

#header > img {
    background-color: transparent;
    border-radius: 1svh;
}

#header-Titel {
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

#main-article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.geschichte-menu-button {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1vw;
    text-decoration: none;
    background-image: radial-gradient(ellipse at center, #1c9654, #0d542d 75%);
    /* background-color: #0d542d; */
    color: white;
    border-radius: 20px;
    z-index: 500;
    transition-duration: 0.2s;
}

.geschichte-menu-symbol {
    background-color: transparent;
}

.geschichte-menu-links {
    text-decoration: none;
    display: none;
    background-color: transparent;
    color: white;

}

.geschichte-menu-links:hover {
    background: rgba(211, 211, 211, 0.25);
    border-radius: 10px;
}

#geschichte-abschnitt {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#geschichte-titel {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#geschichte-text {
    display: flex;
    background-color: transparent;
    padding: 0 2vw 1svh 2vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#geschichte-link {
    background: linear-gradient(to right, #0d542d, #0d542d);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: background 1s ease, color 0.8s ease;
}

#geschichte-link:hover {
    background: linear-gradient(to right, #5e8f75, #1f7250);
}

#impressum_section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.impressum_text {
    padding: 6svh 10vw;
    font-size: 3svh;
    text-align: left;
    background-color: lightgray;
    width: 80vw;
    min-height: 10svh;
    margin: 5svh auto;
    border-radius: 30px;
}

#impressum_text2 {

}

#impressum_links {
    display: flex;
    justify-content: space-evenly;
    width: 30%
}

.impressum_link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2svh 4vw;
    background: linear-gradient(to left, #1c9654, #0d542d);
    border-radius: 20px;
    margin-bottom: 5svh;
}

#impressum_text2, #impressum_text3 {
    background-color: transparent !important;
    padding: 4svh 5vw;
    margin: 0;
}

#template_article2 {
    min-height: 10svh !important;
}

.template_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_article {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5vh auto;
    background-color: lightgray;
    min-height: 50vh;
    border-radius: 20px;
}

.template_titel {
    align-self: flex-start;
    background-color: transparent;
    font-size: 5.5svh;
    font-weight: bold;
    padding: 5svh 5vw;
    padding-bottom: 2svh;
}

#template_titel_bilder {
    padding-left: 0 !important;
}

.template_text {
    align-self: flex-start;
    background-color: transparent;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 3svh;
    margin-bottom: 3svh;
}

.template_article div:last-child {
    padding-bottom: 3svh;
}

.template_img {
    align-self: center;
    padding: 0 0 5svh 0;
    background-color: lightgray;
    max-width: 60vw;
    max-height: 60svh;
}

.template_back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16svh;
    background-color: transparent;
}

.template_link_back {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2svh 4vw;
    background: linear-gradient(to left, #1c9654, #0d542d);
    border-radius: 20px;
    margin-bottom: 5svh;
}

.template_link_back:hover {
    background: linear-gradient(to left, #1bc96d, #128346);
}

#footer {
    width: 100%;
    background-image: linear-gradient(#13834b, #05381d);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#footer_übersichtA {
    background-color: transparent;
    font-weight: bold;
    display: flex;
    color: white;
}

.footer_link,
#footer_impressum {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding-left: 3svh;
}

/* Media Query for Screens 768px and Wider */
@media screen and (min-width: 768px) {
    #header {
        height: 25svh;
    }

    #header > img {
        height: 10svh;
        margin-right: 5%;
    }

    #header-Titel {
        font-size: 8svh;
    }

    #main-article {
        height: 60svh;
    }

    #uhr {
        width: 35svh;
    }

    .geschichte-menu-button {
        top: 26svh;
        padding: 1svh 2vw;
        font-size: 3svh;
    }

    .geschichte-menu-links {
        font-size: 2.5svh;
        padding: 1svh 1vw;
    }

    #geschichte-abschnitt {
        width: 40%;
        min-height: 35svh;
        margin-bottom: -2svh;
    }

    #geschichte-titel {
        font-size: 5svh;
        margin: 3svh;
    }

    #geschichte-text {
        font-size: 2.25svh;
        min-height: 15svh;
        max-height: 38svh;
    }

    #geschichte-link {
        font-size: 2svh;
        padding: 0.8svh 4svh;
        margin: 2svh;
    }

    #footer {
        height: 12svh;
        padding-top: 5svh;
        font-size: 2.5svh;
    }

    #footer_übersichtA {
        padding-bottom: 0.5svh;
    }
}

/* Media Query for Screens Narrower than 768px */
@media screen and (max-width: 767px) {
    body {
        overflow-y: auto;
    }

    #header {
        flex-direction: column;
        height: 25svh;
    }

    #header > img {
        height: 6vw;
        margin-bottom: 1svh;
    }

    #header-Titel {
        font-size: clamp(8px, 50vw, 4svh);
        width: 70vw;
    }

    #main-article {
        height: 60svh;
        position: relative;
        overflow: hidden;
    }

    #uhr {
        position: absolute;
        height: 50svh;
        margin-top: -25svh;
        margin-left: -50vw;
        z-index: 0;
        overflow: hidden;
    }

    #impressum_links {
        width: 100%;
    }

    .template_titel {
        font-size: 3.1svh;
        padding-bottom: 2svh;
        padding-top: 2svh;
    }

    .template_text {
        font-size: 2.2svh;
    }

    .geschichte-menu-button {
        top: 26svh;
        padding: 1svh 3vw;
        font-size: 2.5svh;
    }

    .geschichte-menu-links {
        font-size: 3svh;
        padding: 1svh 3vw;
    }

    #geschichte-abschnitt {
        opacity: 95%;
        margin-right: -10vw;
        width: 80vw;
        min-height: 35svh;
        max-height: 55svh;
        z-index: 5;
    }

    #geschichte-titel {
        font-size: 5svh;
        margin: 2svh;
    }

    #geschichte-text {
        padding-bottom: 2svh;
        font-size: 2.25svh;
    }

    #geschichte-link {
        font-size: 2svh;
        padding: 0.8svh 4svh;
        margin: 2svh;
    }

    .impressum_text {
        font-size: 2svh;
        margin: 2vw;
    }

    .copyright > p, .copyright a {
        font-size: 1.6svh;
    }

    #footer {
        height: 15svh;
        padding-top: 5svh;
        font-size: 2.5svh;
    }

    #footer_übersichtA {
        padding-bottom: 0.5svh;
    }

    #footer_main {
        padding-left: 0;
    }
}

@media screen and (max-width: 460px) {
    #geschichte-text {
        font-size: 2svh;
    }

    #geschichte-titel {
        font-size: 4svh;
    }
}

@media screen and (max-width: 315px) {
    #header-Titel {
        font-size: 4svh;
    }

    #header > img {
        border-radius: 5px;
    }
}