@media screen and (min-width: 768px) {

    * {
        background-color: white;
        font-family: Arial, serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0d542d;
        height: 25vh;
    }

    #header > img {
        background-color: transparent;
        height: 10vh;
        margin-right: 5%;
        border-radius: 1vh;
    }

    #header-Titel {
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: 8vh;
        text-align: center;
    }

    main {
        flex: 1;
    }

    #main-article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
    }

    #uhr {
        width: 35vh;
    }

    #geschichte-abschnitt {
        background-color: lightgray;
        /* height: 200px; */
        width: 25%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
    }

    #geschichte-titel {
        background-color: transparent;
        color: black;
        font-weight: bold;
        font-size: 5vh;
        margin: 3vh;
    }

    #geschichte-text {
        background-color: transparent;
        padding-bottom: 9vh;
        font-size: 2.25vh;
    }

    #geschichte-link {
        background: linear-gradient(to right, #0d542d, #0d542d);
        color: white;
        font-size: 2vh;
        border: none;
        padding: 0.8vh 4vh;
        border-radius: 25px;
        margin: 2vh;
        text-align: center;
        text-decoration: none;
        transition: background 1s ease, color 0.8s ease;
    }

    #geschichte-link:hover {
        background: linear-gradient(to right, #5e8f75, #1f7250);
    }

    #impressum_section1 {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 10vh;
    }

    .impressum_text {
        font-size: 3vh;
        text-align: center;
    }

    #impressum_text2 {
        padding-top: 5vh;
    }

    #how-to-center-a-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #geschichte-start {
        margin-top: 8vh;
        padding: 1.25vh 4.25vh;
        background-color: #fc3626;
        color: white;
        font-weight: bold;
        font-size: 2.5vh;
        border-radius: 15px;
    }

    #geschichte-article1 {
        display: flex;
        justify-content: center;
    }

    #geschichte-spalte1 {
        margin-bottom: 20vh;
        width: 10%;
        height: 50vh;
        border-right: 0.5vh solid black;
    }

    #geschichte-spalte2 {
        width: 10%;
        height: 50vh;
    }

    #footer {
        width: 100%;
        height: 12vh;
        padding-top: 5vh;
        background-color: #0d542d;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 2vh;
    }

    #footer_übersichtA {
        background-color: transparent;
        font-weight: bold;
        display: flex;
        padding-bottom: 0.5vh;
        color: white;
    }

    .footer_link {
        text-decoration: none;
        background-color: transparent;
        padding-left: 3vh;
        color: white;
    }

    #footer_impressum {
        text-decoration: none;
        background-color: transparent;
        color: white;
        padding-left: 3vh;
    }
}


@media screen and (max-width: 767px) {

    * {
        background-color: white;
        font-family: Arial, serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: auto;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #0d542d;
        height: 25vh;
    }

    #header > img {
        background-color: transparent;
        height: 6vw;
        margin-bottom: 1vh;
        border-radius: 1vw;
    }

    #header-Titel {
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: clamp(8px, 50vw, 5vh);
        text-align: center;
        width: 70vw;
    }

    main {
        flex: 1;
    }

    #main-article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
        position: relative;
        overflow: hidden;
    }

    #uhr {
        position: absolute;
        height: 50vh;
        margin-top: -25vh;
        margin-left: -50vw;
        z-index: 0;
        overflow: hidden;
    }

    #geschichte-abschnitt {
        background-color: lightgray;
        opacity: 95%;
        /* height: 200px; */
        margin-right: -10vw;
        width: 80vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px;
        z-index: 5;
    }

    #geschichte-titel {
        color: black;
        background-color: transparent;
        font-weight: bold;
        font-size: 5vh;
        margin: 3vh;
        <!-- -->
    }

    #geschichte-text {
        background-color: transparent;
        padding-bottom: 9vh;
        font-size: 2.25vh;
        <!-- -->
    }

    #geschichte-link {
        background: linear-gradient(to right, #0d542d, #0d542d);
        color: white;
        font-size: 2vh;
        border: none;
        padding: 0.8vh 4vh;
        border-radius: 25px;
        margin: 2vh;
        text-align: center;
        text-decoration: none;
        transition: background 1s ease, color 0.8s ease;
        <!-- -->
    }

    #geschichte-link:hover {
        background: linear-gradient(to right, #5e8f75, #1f7250);
        <!-- -->
    }

    #impressum_section1 {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 10vh;
        <!-- -->
    }

    .impressum_text {
        font-size: 3vh;
        text-align: center;
        <!-- -->
    }

    #impressum_text2 {
        padding-top: 5vh;
        <!-- -->
    }

    #how-to-center-a-div {
        display: flex;
        align-items: center;
        justify-content: center;
        <!-- -->
    }

    #geschichte-start {
        margin-top: 8vh;
        padding: 1.25vh 4.25vh;
        background-color: #fc3626;
        color: white;
        font-weight: bold;
        font-size: 2.5vh;
        border-radius: 15px;
        <!-- -->
    }

    #geschichte-article1 {
        display: flex;
        justify-content: center;
        <!-- -->
    }

    #geschichte-spalte1 {
        margin-bottom: 20vh;
        width: 10%;
        height: 50vh;
        border-right: 0.5vh solid black;
        <!-- -->
    }

    #geschichte-spalte2 {
        width: 10%;
        height: 50vh;
        <!-- -->
    }

    #footer {
        width: 100%;
        height: 12vh;
        padding-top: 5vh;
        background-color: #0d542d;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 2vh;
    }

    #footer_übersichtA {
        background-color: transparent;
        font-weight: bold;
        display: flex;
        padding-bottom: 0.5vh;
        color: white;
    }

    .footer_link {
        text-decoration: none;
        background-color: transparent;
        padding-left: 3vh;
        color: white;
    }

    #footer_impressum {
        text-decoration: none;
        background-color: transparent;
        color: white;
        padding-left: 3vh;
    }
}